.container {
   inline-size: 45rem;
   margin: auto;
   background-color: rgba(236, 234, 234, 0.295);
   padding: 1rem;
   border-radius: .6rem;
}

.full-width {
   inline-size: 100%;
}

.fullWildth1 {
   inline-size: 100%;
   background-color: rgba(236, 234, 234, 0.295);
}

h1 {
   text-align: center;
}

img {
   block-size: 13rem;
   margin: auto;
}

.status-prioridade {
   display: flex;
   justify-content: space-between;
}

.status-prioridade mat-form-field {
   inline-size: 49%;
}

.observacoes {
   min-block-size: 3rem;
   max-block-size: 10rem;
}

button {
   margin-block-start: .5rem;
}

p {
   margin-block-start: 3rem;
   opacity: .5;
}

.example-form-field {
   margin-inline-end: 20px;
}