.card {
    inline-size: 80%;
    margin: 1rem auto;
    background-color: rgb(203, 203, 204);
    border-radius: 2rem;
}

img {
    block-size: 25rem;
    inline-size: 100%;
    margin: .8rem auto 1rem auto;
}