<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title><h1>Projeto</h1></mat-card-title>
    <mat-card-subtitle><h2>Dev Fábio</h2></mat-card-subtitle>
  </mat-card-header>
  <img src="assets/imagem/imgupdate.svg" alt="Imagem Principal" />
  <mat-card-content>
    <h3>
      <p>
        Olá! Seja bem vindo ao sistema !<br />
        Esse é um sistema para uma empresa de manutenção de computadores. API
        desenvolvido em Java, Angular 14, e TypeScript. <br />
        <br />Fábio Santos Oliveira!
      </p>
    </h3>
  </mat-card-content>
</mat-card>
