.container {
    block-size: 100%;
}

.sidenav {
    inline-size: 13rem;
    background-color: rgba(83, 83, 83, 0.295);

}

img {
    inline-size: 100%;
    margin: .8rem auto 1rem auto;
}

  
.menu {
    margin: 1rem 0 0 1rem;
    color: rgb(20, 20, 20);
    background-color: rgb(128, 128, 131);
}