.container{
    height: 100%;
}
.sidenav{
    width: 13rem;
    color: white;
    background-color: rgb(203, 203, 204);
    
}
img{
    width: 100%;
    margin: .8rem auto 1rem auto;
}

.sidenav a {
    color: rgb(37, 37, 37);
}
.sidenav a {
    margin-right: .6rem;
}

.menu{
    margin: 1rem 0 0 1rem;
    color: rgb(37, 37, 37);
    background-color: rgb(203, 203, 204);
}